@font-face {
  font-family: 'Sharp Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Book.otf') format('opentype');
}

@font-face {
  font-family: 'Sharp Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Bold.otf') format('opentype');
}

@font-face {
  font-family: Avenir;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Avenir/Avenir_Book.ttf') format('truetype');
}

@font-face {
  font-family: Avenir;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Avenir/Avenir_Heavy.ttf') format('truetype');
}
